extends layout

block content
  div.container

    h1= title

    div.row
      table.table.table-condensed
        tr
          td
            textarea(rows="10" cols="120" id="info")
            div.btn-group
              a.btn.btn-primary(href="#" onclick="createRoom()") Create Room
              a.btn.btn-success(href="#" onclick="randomRoom()")  Random Room
              a.btn.btn-warning(href="#" onclick="leaveRoom()")  Leave Room
          td
            h4 User Online
            div#users.well
        tr
          td
            h4 Room
            div#rooms.well.well-small
